.busenes{
    padding-bottom: 200px;
    background-image: url('/img/background_team.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    &-title{
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 135%;
        color: #1B1B1B;
        padding-top: 100px;
    }
    &-parent{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
        &__subtitle{
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            color: #8A8A8A;
            width: 56%;
            &1{
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 160%;
                color: #DA4533;
                padding: 9px 18px;
                border-radius: 50%;
                border: 1px solid #DA4533;
            }
        }
    }
    &-parent__block{
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
        margin-top: 50px;
        &-card{
            background: #1B1B1B;
            height: 400px;
            border-radius: 10px;
            text-align: center;
            padding: 10px;
        }
        &-icon{
            text-align: right;
            font-size: 26px;
            color: #5C5C5C;
            // transform-origin: 272px;
            // transform: rotate(-45deg);
            
        }
        &-img{
            width: 150px;
            height: 170px;
            margin-top: 40px;
        }
        &-title{
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            color: #8A8A8A;
            margin-top: 30px;
        }
    }
    &-scroll{
        text-align: center;
        margin-top: 45px;
    }
    &-gr{
        padding: 20px;
        border-radius: 50%;
        border: 1px solid #DA4533;
        margin-left: 10px;
        color: #DA4533;
        font-size: 20px;
    }
}
@media screen and (max-width:1000px) {
    .container{
        max-width: 1000px;
    }
    .card1{
        display: none;
    }
    .busenes-parent__block{
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width:768px) {
    .container{
        max-width: 768px;
    }
    .busenes-parent__block-img {
        width: 130px;
        height: 150px;
        margin-top: 32px;
    }
    .busenes-parent__block-title {
        font-size: 16px;
    }
    .busenes-gr{
        padding: 14px;
    }
    .busenes-parent__subtitle{
        font-size: 14px;
    }
    .busenes-title {
        font-size: 25px;
    }
}
@media screen and (max-width:595px) {
    .container{
        max-width: 595px;
    }
    .busenes-parent__block-card{
        padding: 5px;
    }
    .busenes-parent__block-img {
        width: 100px;
        height: 120px;
    }
}

@media screen and (max-width:480px) {
    .container{
        max-width: 480px;
    }
    .card2{
        display: none;
    }
    .busenes-parent__block {
        grid-template-columns: auto auto;
    }
    .busenes-parent__subtitle{
        width: 100%;
        font-size: 12px;
    }
    .busenes-title {
        font-size: 20px;
    }
    .busenes-parent{
        flex-direction: column;
    }
    .busenes-parent__subtitle1{
        margin-top: 20px;
    }
    .busenes-parent__block-img {
        width: 70px;
        height: 90px;
    }
    .busenes-parent__block-title {
        font-size: 10px;
    }
    .busenes-parent__block-card{
        height: 330px;
    }
}
@media screen and (max-width:360px) {
    .container{
        max-width: 360px;
    }
    .card3{
        display: none;
    }
    .busenes-parent__block {
        grid-template-columns: auto;
    }
}